@model FilmLibrary.Domain.Entities.Genre
@{ ViewData["Title"] = "Eliminar género"; }

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Inicio</a></li>
        <li class="breadcrumb-item"><a asp-controller="Genres" asp-action="Index">Géneros</a></li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
</nav>

<h2>@ViewData["Title"]</h2>

<div class="alert alert-danger">¿Está seguro que desea eliminar este género?</div>

<div>
    <dl>
        <dt>Id</dt>
        <dd>@Model.Id</dd>
    </dl>
    <dl>
        <dt>Nombre</dt>
        <dd>@Model.Name</dd>
    </dl>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <input type="submit" class="btn btn-danger" value="Eliminar">
    </div>
}

<div class="mt-2">
    <a asp-action="Index" class="btn btn-info">Volver a la lista</a>
</div>
