@model FilmLibrary.Domain.Entities.Country
@{ ViewData["Title"] = "Detalle de país"; }

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Inicio</a></li>
        <li class="breadcrumb-item"><a asp-controller="Countries" asp-action="Index">Países</a></li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
</nav>

<h2>@ViewData["Title"]</h2>

<div>
    <dl>
        <dt>Id</dt>
        <dd>@Model.Id</dd>
    </dl>
    <dl>
        <dt>Nombre</dt>
        <dd>@Model.Name</dd>
    </dl>
</div>

<div class="mt-2">
    <a asp-action="Edit" asp-route-countryId="@Model.Id" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-info">Volver a la lista</a>
</div>
