@model IEnumerable<FilmLibrary.Domain.Entities.Country>
@{ ViewData["Title"] = "Países"; }

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Inicio</a></li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
</nav>

<h2>@ViewData["Title"]</h2>

<p>
    @Html.ActionLink("Crear", "Create")
</p>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var country in Model)
    {
        <tr>
            <td>@country.Id</td>
            <td>@country.Name</td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { countryId = country.Id }) |
                @Html.ActionLink("Detalles", "Details", new { countryId = country.Id }) |
                @Html.ActionLink("Eliminar", "Delete", new { countryId = country.Id })
            </td>
        </tr>
    }
    </tbody>
</table>
