@model FilmLibrary.Domain.Entities.Director
@{ ViewData["Title"] = "Detalle de director"; }

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Inicio</a></li>
        <li class="breadcrumb-item"><a asp-controller="Directors" asp-action="Index">Directores</a></li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
</nav>

<h2>@ViewData["Title"]</h2>

<div>
    <dl>
        <dt>Id</dt>
        <dd>@Model.Id</dd>
    </dl>
    <dl>
        <dt>Nombre</dt>
        <dd>@Model.Name</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { directorId = Model.Id }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
