@model IEnumerable<FilmLibrary.Domain.Entities.Director>
@{ ViewData["Title"] = "Directores"; }

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Inicio</a></li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
</nav>

<h2>@ViewData["Title"]</h2>

<div>
    <a asp-action="Create" class="btn btn-primary">Agregar director</a>
</div>

<table class="table table-striped align-middle">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var director in Model)
    {
        <tr>
            <td>
                <a asp-action="Details" asp-route-directorId="@director.Id">@director.Name</a>
            </td>
            <td>
                <div class="btn-group btn-group-sm" role="group" aria-label="Edition links">
                    <a asp-action="Edit" asp-route-directorId="@director.Id" class="btn btn-outline-secondary">Editar</a>
                    <a asp-action="Delete" asp-route-directorId="@director.Id" class="btn btn-outline-secondary">Eliminar</a>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>
