@model FilmLibrary.Domain.Entities.Film
@{ ViewData["Title"] = "Detalle de película"; }

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Inicio</a></li>
        <li class="breadcrumb-item"><a asp-controller="Films" asp-action="Index">Películas</a></li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
</nav>

<h2>@ViewData["Title"]</h2>

<div class="row g-3">
    <div class="col-12">
        <div class="form-label">Id</div>
        <div class="form-control bg-dark bg-opacity-10">@Model.Id</div>
    </div>
    <div class="col-12 col-md-8">
        <div class="form-label">Título</div>
        <div class="form-control bg-dark bg-opacity-10">@Model.Title</div>
    </div>
    <div class="col-12 col-md-4">
        <div class="form-label">Director</div>
        <div class="form-control bg-dark bg-opacity-10">@Model.Director?.Name</div>
    </div>
    <div class="col-12">
        <div class="form-label">Argumento</div>
        <div class="form-control bg-dark bg-opacity-10">@Model.Plot</div>
    </div>
    <div class="col-12 col-md-2">
        <div class="form-label">Clasificación</div>
        <div class="form-control bg-dark bg-opacity-10">@Model.Rating?.Name</div>
    </div>
    <div class="col-12 col-md-2">
        <div class="form-label">Año</div>
        <div class="form-control bg-dark bg-opacity-10">@Model.Year</div>
    </div>
    <div class="col-12 col-md-4">
        <div class="form-label">Fecha de estreno</div>
        <div class="form-control bg-dark bg-opacity-10">@Model.ReleaseDate.ToString("d")</div>
    </div>
    <div class="col-12 col-md-4">
        <div class="form-label">País de origen</div>
        <div class="form-control bg-dark bg-opacity-10">@Model.CountryOfOrigin?.Name</div>
    </div>
    <div class="col-12">
        <div class="form-label">Géneros</div>
        <div>
            <ul>
                @foreach (var genre in Model.Genres)
                {
                    <li>@genre.Name</li>
                }
            </ul>
        </div>
    </div>
</div>

<div class="mt-2">
    <a asp-action="Edit" asp-route-filmId="@Model.Id" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-info">Volver a la lista</a>
</div>
