@model IEnumerable<FilmLibrary.Domain.Entities.Film>
@{ ViewData["Title"] = "Películas"; }

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Inicio</a></li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
</nav>

<h2>@ViewData["Title"]</h2>

<div>
    <a asp-action="Create" class="btn btn-primary">Agregar película</a>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Título</th>
            <th>Director</th>
            <th>Clasificación</th>
            <th>Año</th>
            <th>País de origen</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var film in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-filmId="@film.Id">@film.Title</a>
                </td>
                <td>@film.Director?.Name</td>
                <td>@film.Rating?.Name</td>
                <td>@film.Year</td>
                <td>@film.CountryOfOrigin?.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-filmId="@film.Id">Editar</a> |
                    <a asp-action="Delete" asp-route-filmId="@film.Id">Eliminar</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
